storage: ./storage
listen:
  - 0.0.0.0:4873
auth:
  htpasswd:
    file: ./htpasswd
    max_users: -1
security:
  api:
    legacy: true
uplinks:
  # npmjs:
  #   url: https://registry.npmjs.org/
packages:
  '@*/*':
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs
  '**':
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs
server:
  keepAliveTimeout: 60
middlewares:
  audit:
    enabled: true
log: { type: stdout, format: pretty, level: http }
